* {
    font-family: 'Share Tech Mono', monospace;
}
body {
    text-align: center;
    width: 100%;
    margin: 0;
    background-color: #0E151B;
    box-sizing: border-box;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
}

h1 {
    margin-top: 300px;
    color: #5FABED;
}
h2 {
    color: #5FABED;
    font-size: 35px;
    position: relative;
    top: 150px;
}
input {
    color: #97cdfd;
    background-color: #1b232b;
    width: 700px;
    text-align: center;
    height: 50px;
    font-size: 14px;
}
a {
    line-height: 1.9;
}
a:visited, a:link, a:active {
    color: #bbb;
    text-decoration: none;
    font-size: 26px;
    text-indent: 2px;
    
}
a:hover {
    color: #97cdfd;
}
input::placeholder {
    text-align: center;
}
.entertainment, .social, .dev {
    display: inline-block;
    background-color: #1b232b;
    margin-top:100px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
    padding-top:30px;
    padding-bottom:70px;
    padding-left:70px;
    padding-right:70px;
    border: 2px solid #9b9b9b;  
    transition: border-radius 0.3s, background-color 0.3s;
}
.entertainment:hover, .social:hover, .dev:hover {
    border: 2px solid rgb(238, 238, 238);
    box-shadow: 0px 0px 8px 8px #1a2229;
    background-color: #1a2732;
    border-radius: 10px;
}
.search_block {
    display: inline;
    margin-right: auto;
    margin-left: auto;
}
p {
    color: #97cdfd;
    font-size: 35px;
}
input:focus::placeholder {
    color: transparent;
}
button {
    background-color: #1b232b;
    color: #97cdfd;
}
button:hover {
    background-color: #97cdfd;
    color: #0E151B;
}
.go {
    width: 50px;
    height: 50px;
    color: #97cdfd;
    transition: background-color 0.3s, border-radius 0.3s;
}
.go:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
input,
.go {
    border: none;
    outline: none;
}
.se_btn {
    width: 50px;
    height: 50px;
    color: #1b232b;
    border: none;
    transition: background-color 0.3s, border-radius 0.3s;
    vertical-align: middle;
}
.se_btn:hover {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#se_icon {
    width: 24px;
    height: 24px;
    transition: background-color 0.3s;
}
.filter-white 
{
    filter: invert(1);
}